.cart {
    display: flex;
    align-items: start;
    justify-content: center;
    min-height: 91vh;
}

.noItem {
    width: 100%;
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-top: 50px;
}

.cartList {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.bikeContainer {
    margin-bottom: 20px;
    width: 100%;
    background-color: white;
    height: 100px;
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
}

.bikeContainer:hover {
    transform: scale(1.03);
}

.bikeContainer img{
    margin-left: 30px;
    width: 100px;
}

.bikeContainer div {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.bikeContainer button {
    position: absolute;
    margin-left: 600px;
    border: none;
    background-color: white;
    text-decoration: underline;
    cursor: pointer;
}

.bikeContainer p {
    font-size: 13px;
}

.bikeContainer span {
    font-size: 16px;
    font-weight: 500;
}

.checkOut {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: transform 0.5s;
}

.checkOut:hover {
    transform: scale(1.03);
}

.checkOut button {
    margin-bottom: 50px;
    width: 80%;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
    transition: transform 0.5s;
    cursor: pointer;
}

.checkOut button:hover {
    transform: scale(1.03);
}

.checkOut p {
    font-size: 17px;
}

.checkOutTableRow {
    border: none;
}

.checkOut div {
    margin: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

td {
    text-align: right;
}

.subTitle {
    text-align: left;
}